<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= link_to("查看", comment_path(comment, post_id: params[:post_id]))%></td>
        <td><%= link_to("修改", edit_comment_path(comment, post_id: params[:post_id]))%></td>
        <td><%= link_to("删除", comment_path(comment, post_id: params[:post_id]), method: :delete)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New comment', new_comment_path(post_id: @post.id) %>
