<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to(post.title, comments_path(post_id: post.id)) %></td>
        <td><%= link_to("编辑", edit_post_path(post, group_id: params[:group_id]))%></td>
        <td><%= link_to("查看", post_path(post, group_id: params[:group_id]))%></td>
        <td><%= link_to("删除", post_path(post, group_id: params[:group_id]), method: :delete)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path(group_id: @group.id) %>
